<div id="large-photo">
  <h1><%=@photo.title%></h1>
  <%= image_tag("photos/large/#{@photo.id}.jpg", :alt=>@photo.title) %>
  <%#= link_to(imgLnk, "#{base_url(@page_title)}images/photos/original/#{@photo.id}.jpg") %>
</div>

<div id="large-photo-info">
  <span class="votes">Votes <%=@photo.vote_cache%> (  <%= link_to("Vote up", photo_path(@photo.id, :vote=>"1")) %> )</span>
  <span class="created-at">@ <%=format_date(@photo.created_at)%></span>
  <span class="fullname">by <%=@photo.fullname%></span>
  <span class="tags">
    Tags:
      <% @tags.each do |tag| %>
        <%= link_to(tag.name, photo_path("by_tag", :tag=>tag.name)) %>
      <% end %>
  </span>
  <h2>Theme <%= link_to(@photo.theme.name, theme_path(@photo.theme.id)) %></h2>
  <% @photos.each do |photo| %>
    <% imgLnk = image_tag("photos/small/#{photo.id}.jpg", :alt=>photo.title) %>
    <%= link_to(imgLnk, photo_path(photo.id), :class=>"home-pic-link") %>
  <% end %>
  <div class="clear-fix"></div>
</div>

